<div class="header" ng-controller="headerCtrl">
    <div class="container">
        <div class="logo">
            <a href=" "><img src="assets/logo-color.svg"></a>
        </div>

        <div class="nav">
            <ul class="whiteNav">
                <li><a href="kit" ng-click="start()">UI Kit</a></li>
                <li><a href="works" ng-click="start()">Works</a></li>
                <li><a href="service" ng-click="start()">Services</a></li>
                <!--                <li><a href="details" ng-click="start()">Details</a></li>-->
                <li><a class="btn cta" href="contact" ng-click="start()">Contact</a></li>
            </ul>
        </div>

        <div style="clear: both"></div>
    </div>
</div>
