<div ng-controller="homeController">
    <div class="section dark">
        <div class="header">
            <div class="container">
                <div class="logo">
                    <img src="./assets/logo.svg">
                </div>

                <div class="nav">
                    <ul>
                        <li><a href="kit">UI Kit</a></li>
                        <li><a href="works">Works</a></li>
                        <li><a class="btn cta" href="contact">Contact</a></li>
                    </ul>
                </div>

                <div class="clear"></div>

            </div>
        </div>

        <!--    <div class="spacing medium"></div>-->


        <div class="content">
            <div class="obvious">
                <h1>Subtle UI UX Designer</h1>
                <h3 class="easy">I'm a UI UX Designer specialist in Jakarta.
                    I provide prototype & mockup in no time.</h3>
                <form method="post" name="myemailform" action="api/form-to-email.php">
                    <div class="possible">
                        <input type="text" name="email" placeholder="Your email">
                        <button type="submit" class="btn submit">Get Notified</button>
                    </div>
                </form>
            </div>


        </div>

    </div>
</div>
